.answer {
  padding: 120px 344px;

  @include big-tablets {
    padding: 80px 30px;
  }

  &__acco-list {
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    box-shadow: $box;
    border-radius: 16px;
  }

  &__acco-question {
    padding: 26px 39px 26px 32px;
    display: block;
    font-weight: 600;
    font-size: 24px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "gilroy-semibold";
    position: relative;

    @include tablets {
      font-size: 22px;
    }

    @include phones {
      font-size: 18px;
    }
  }
  
&__acco-title {
  margin-right: 20px;
}

  &__acco-item {
    cursor: pointer;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $grey-light;
      display: block;
    }
  }

  &__acco-info {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s linear;

    p {
      padding: 0px 80px 25px 32px;
    }
  }

  &__acco-question {
    :after {
      content: "";
      width: 24px;
      height: 1px;
      display: block;
      background-color: $extra;
      border-radius: 1px;
      position: absolute;
      right: 32px;
      top: 50%;
    }

    :before {
      content: "";
      width: 24px;
      height: 1px;
      display: block;
      background-color: $extra;
      transform: rotate(90deg);
      border-radius: 1px;
      position: absolute;
      right: 32px;
      top: 50%;
    }

    &.answer__active {
      :before {
        content: "";
        display: none;
      }
    }
  }
}