.footer {
  display: flex;
  width: 100%;
  background: $white-light;
  padding: 120px 0px;

  .container {
    display: flex;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    display: flex;
    flex-direction: column;

    a {
      color: $extra;
      font-weight: 600;
      font-size: 18px;

      &:hover {
        color: black;
      }
    }

  }

  &__col {
    width: 25%;
  }

  &__col--flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__nav .nav__item {
    margin-bottom: 16px;
  }

  &__logo {
    font-weight: 500;
    font-size: 18px;
    color: $grey;
  }
}

.contact__mail {
  margin-bottom: 16px;

}

.socials {
  display: flex;
  align-items: center;

  &:nth-child(4) {
    margin-right: 0px;
  }


  &__item:before {
    content: "";
    width: 56px;
    height: 56px;
    background-color: $white;
    display: inline-block;
    border-radius: 100%;

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    svg {
      position: absolute;
    }
  }

}