// //HEADER LAYOUT
.header {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.nav {

  &__list {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }

  &__item {
    margin-left: 12px;
    margin-right: 12px;
    font-weight: 500;
    font-size: 18px;
    color: $black-light;
  }

  &__link {
    &:hover {
      color: $extra;
      transition: .5s;
    }
  }

  @include tablets {
    display: none;
  }
}

.search {
  display: flex;
  cursor: pointer;
  align-items: baseline;

  span {
    color: $extra;
    font-weight: 600;
    font-size: 18px;
    font-family: 'gilroy-semibold';
  }

  &__icon {
    width: 14px;
    height: 14px;
    border-color: $white;
    border: 2px solid $extra;
    border-radius: 100%;
    margin-right: 10px;
    position: relative;

    &:before {
      content: "";
      height: 2px;
      width: 7px;
      background-color: $extra;
      display: inline-block;
      transform: rotate(45deg);
      position: absolute;
      top: 11px;
      left: 9px;
      border-radius: 1px;
    }
  }
}