// //HEADER LAYOUT
.header {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;

}

.nav {

  &__list {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
  }

  &__item {
    margin-left: 12px;
    margin-right: 12px;
    font-weight: 500;
    font-size: 18px;
    color: $grey;
  }

  &__link {
    &:hover {
      color: $extra;
      transition: .5s;
    }
  }

}

.track {
  display: flex;
  cursor: pointer;

  span {
    font-weight: 600;
    font-size: 18px;
    color: $extra;
  }

  &__picture {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 15px;
  }
}