// //HEADER LAYOUT
.header {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    position: relative;
  }

  &__menu {
    @include tablets {
      display: none;
    }
  }
}

.nav {

  &__list {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;

    @include tablets {
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: 0 0 40px 0px;
    }
  }

  &__item {
    margin-left: 2px;
    margin-right: 2px;
    font-weight: 500;
    font-size: 18px;
    color: $black-light;

    @include tablets {
      margin-bottom: 20px;
    }
  }

  &__link {

    position: relative;
    display: block;
    padding: 5px 10px;
    color: $text;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 2px);
      left: -100%;
      width: 100%;
      height: 4px;
      background: #4969dc;
      transition: 0.5s;
      border-radius: 8px;
    }

    &:hover {
      color: $white;
      transition: .5s;

      &:before {
        animation: animate .5s linear forwards;
      }

    }
  }
}

.search {
  display: flex;
  cursor: pointer;
  align-items: baseline;

  @include tablets {
    display: none;
  }


  span {
    color: $extra;
    font-weight: 600;
    font-size: 18px;
    font-family: 'gilroy-semibold';

    &:hover {
      color: $black;
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
    border-color: $white;
    border: 2px solid $extra;
    border-radius: 100%;
    margin-right: 10px;
    position: relative;
    z-index: -1;

    &:before {
      content: "";
      height: 2px;
      width: 7px;
      background-color: $extra;
      display: inline-block;
      transform: rotate(45deg);
      position: absolute;
      top: 11px;
      left: 9px;
      border-radius: 1px;
    }
  }

  &__burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    span {
      color: #496adc;
      font-weight: 600;
      font-size: 20px;
      font-family: 'gilroy-semibold'
    }
  }
}



.burger__opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.burger__opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.burger__opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


.burger {

  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
    right: 14px;

    @include tablets {
      display: block;
      z-index: 1000;
    }

  }

  &__item {
    font-size: 20px;
  }

  &__menu {
    display: none;
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100%;
    height: 54%;


    @include phones {
      height: 77%;
    }
  }

  &__menu--active {
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 25px #1b2afcc5;
    transition: .5s;
    padding-top: 0.75rem;
    transition: 0.3s;

  }

  &__nav {
    margin-top: 88px;
  }

  &__logo {
    position: absolute;
    top: 40px;
    left: 30px;
  }

  &__line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__top {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }


  &__middle {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }


  &__bottom {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  &__opened {
    position: fixed;
    right: 0;
    top: 20px;
    right: 14px;

    .burger__top {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    .burger__middle {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }

    .burger__bottom {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  }
}



.social__burger {
  justify-content: center;
}

.socials__link-burger {
  border-radius: 100%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
}



@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }

  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }

  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}