.hero {

  &__container {
    font-family: 'gilroy-regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    h1 {
      padding: 120px 0px 24px 0px;
      font-weight: 600;
      font-size: 48px;
      font-family: 'gilroy-semibold';
    }

    p {
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 24px;
      color: $black-light;
    }
  }

  &__button {
    margin-bottom: 89px;

    button {
      border-radius: 8px;
      padding: 20px 28px;
      cursor: pointer;
    }

    button:nth-child(2) {
      color: $extra;
      box-shadow: $box;

      &:hover {
        background: $extra;
        color: $white;
        transition: .5s;

      }
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrap--flex {
    display: flex;
    align-items: flex-end;

    :nth-child(2) {
      max-width: 240px;
      margin-right: 16px;
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      :nth-child(1) {
        margin-bottom: 16px;
      }
    }

    :nth-child(3) {
      margin-right: 16px;
      margin-bottom: -3px;
    }

    :nth-child(1) {
      margin-bottom: -3px;
    }
  }
}

.button--blue {
  margin-right: 16px;
  background: $extra;
  color: $white;
}