.photo {

  &__desc {
    margin-top: 64px;
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;

    :nth-child(1) {
      margin-left: 0px;
    }
  }

  &__item {
    margin-left: 29px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: $box;
    border-radius: 16px;


  }

  &__name {
    padding: 32px;
    position: relative;

    span {
      font-weight: 600;
      font-size: 24px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      color: $grey;
    }
  }

  &__item-one {
    display: flex;

    :nth-child(1) {
      background: url(../img/sheet.jpg) center center / cover no-repeat;
      height: 240px;
      width: 240px;
      border-top-left-radius: 16px;
    }

    :nth-child(2) :nth-child(1) {
      background: url(../img/deesh.jpg) center center / cover no-repeat;
      height: 120px;
      width: 118px;
      border-top-left-radius: 0px;
      border-top-right-radius: 16px;

    }

    :nth-child(2) :nth-child(2) {
      background: url(../img/child.jpg) center center / cover no-repeat;
      height: 120px;
      width: 118px;
    }
  }

  &__item-two {
    display: flex;


    :nth-child(1) {
      background: url(../img/comp.jpg) center center / cover no-repeat;
      height: 240px;
      width: 240px;
      border-top-left-radius: 16px;
    }

    :nth-child(2) :nth-child(1) {
      background: url(../img/arch.jpg) center center / cover no-repeat;
      height: 120px;
      width: 118px;
      border-top-left-radius: 0px;
      border-top-right-radius: 16px;
    }

    :nth-child(2) :nth-child(2) {
      background: url(../img/town.jpg) center center / cover no-repeat;
      height: 120px;
      width: 118px;
    }
  }

  &__item-three {
    display: flex;

    :nth-child(1) {
      background: url(../img/car.jpg) center center / cover no-repeat;
      height: 240px;
      width: 240px;
      border-top-left-radius: 16px;
    }

    :nth-child(2) :nth-child(1) {
      background: url(../img/bas.jpg) center center / cover no-repeat;
      height: 120px;
      width: 118px;
      border-top-left-radius: 0px;
      border-top-right-radius: 16px;
    }

    :nth-child(2) :nth-child(2) {
      background: url(../img/sea.jpg) center center / cover no-repeat;
      height: 120px;
      width: 118px;
    }
  }

  &__pic {
    position: absolute;
    top: -63px;

    img {
      width: 80px;
      border: 3px solid #fff;
      border-radius: 100%;
    }
  }

}


.next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next:before {
  content: "";
  width: 64px;
  height: 64px;
  background-color: #FFF;
  border-radius: 100%;
  position: absolute;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);

}


.arrow-1 {
  cursor: pointer;
  height: 120px;
  position: relative;
}

.arrow-1-top,
.arrow-1-bottom {
  background: #496ADC;
  height: 3px;
  left: -22px;
  position: absolute;
  top: 58px;
  width: 16px;
  border-radius: 1px;
}

.arrow-1-top {
  top: 62px;
}

.arrow-1-top {
  transform: rotate(-135deg);
  transform-origin: top right;
}

.arrow-1-bottom {
  transform: rotate(135deg);
  transform-origin: bottom right;
}

.arrow-1-top::after,
.arrow-1-bottom::after {
  background: #000;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-1-top::after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-1-bottom::after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow-1:hover .arrow-1-top::after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow-1:hover .arrow-1-bottom::after {
  right: 0;
  transition-delay: 0s;
}

.arrow-2 {
  cursor: pointer;
  height: 120px;
  position: relative;
}

.arrow-2-top,
.arrow-2-bottom {
  background: #496ADC;
  height: 3px;
  left: -9px;
  position: absolute;
  top: 60px;
  width: 16px;
  border-radius: 1px;
}

.arrow-2-top {
  top: 61px;
}

.arrow-2-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-2-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-2-top::after,
.arrow-2-bottom::after {
  background: #000;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-2-top::after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-2-bottom::after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow-2:hover .arrow-2-top::after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow-2:hover .arrow-2-bottom::after {
  right: 0;
  transition-delay: 0s;
}