.reviews {

  &__desc {
    text-align: center;
    margin: 24px 0px 80px 0px;
    font-size: 24px;
    font-weight: 500;
    color: $black-light;

    @include tablets {
      font-size: 20px;
    }

    @include phones {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    width: 100%;

    :nth-child(3) {
      margin-right: 0px;
    }

    @include tablets {
      flex-direction: column;
    }
  }

  &__item {
    width: 33.3%;
    margin-right: 53px;

    @include tablets {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 40px;
    }
  }

  &__block {
    box-shadow: $box;
    border-radius: 16px;
    margin-bottom: 32px;

    @include tablets {
      margin-bottom: 20px;
    }

    span {
      font-weight: 500;
      font-size: 24px;
      padding: 32px;
      display: block;

      @include tablets {
        font-size: 20px;
      }
    }
  }

  &__name {
    display: flex;
  }

  &__img {
    margin-left: 32px;
    margin-right: 16px;
  }

  &__name-people {
    span {
      font-weight: 600;
      font-size: 18px;
      font-family: 'gilroy-semibold';
    }

    p {
      font-weight: 500;
      font-size: 15px;
      color: $black-light
    }
  }
}

.photo__bg {
  background: url(../img/sectionbg.jpg) center center / cover no-repeat;
  height: 738px;
  max-width: 100%;
}