//Fonts
@font-face {
    font-family: 'TTTravels-Black';
    src: url('../fonts/TTTravels-Black.woff') format('woff'),
    url('../fonts/TTTravels-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}