//Vars
$f_base: 'Roboto',
sans-serif;
$f_family: "gilroy-regular";

//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1439px)';
$breakpointTablet: 'screen and (max-width: 1023px)';
$breakpointMobile: 'screen and (max-width: 767px)';

//Colors
$extra: #496ADC;
$white: #fff;

$grey: rgba(0, 0, 0, 0.6);
;
$greyDark: #b9b9b9;
$greyLight: #ececec;

$bgGrey: #dcdcdc;

$text: #666666;