//Vars
$f_base: 'Roboto', sans-serif;

//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1439px)';
$breakpointTablet: 'screen and (max-width: 1023px)';
$breakpointMobile: 'screen and (max-width: 767px)';

//Colors
$extra: #a11a26;

$grey: #e4e4e4;
$greyDark: #b9b9b9;
$greyLight: #ececec;

$bgGrey: #dcdcdc;

$text: #666666;